@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import "reset.css";
@import "landing-page/header.css";
/* Color Theme Swatches in Hex
color: #8873EA; 
color: #4945BF; 
color: #615CF2; 
color: #F28F38; 
color: #E6CDF9;  */

