@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
@import "reset.css";
@import "landing-page/header.css";
@import "landing-page/top-jumbo.css";
@import "landing-page/design-by.css";
@import "landing-page/color-collection.css";


/* Color Theme Swatches in Hex
color: #8873EA; 
color: #4945BF; 
color: #615CF2; 
color: #F28F38; 
color: #E6CDF9;  */

/* COLOR VARIABLES */

:root {
    --light-purple: #615CF2;
    --med-purple: #8873EA;
    --dark-purple: #4945BF;
    --orange: #F28F38;
    --light-pink: #E6CDF9;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.container-fluid {
    margin: 0 5%;
    padding: 0 20px;
}

.box-shadow-down {
    -webkit-box-shadow: 0px 17px 40px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 17px 40px 0px rgba(0,0,0,0.3);
box-shadow: 0px 17px 40px 0px rgba(0,0,0,0.3);
}

.box-shadow-center {
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.75);
}

/* Button Utility Classes */

.btn-white {
    background: #fff;
    color: var(--med-purple);
    padding: 15px 60px;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8rem;
    font-weight: 700;
    display: inline-block;
}

