#footer {
    background: var(--med-purple);
    text-align: center;
    padding: 5rem 0; 
    color: #fff;
}

#footer h2 {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 3rem;
    margin-bottom: 2rem;
}

#footer h2 span {
   color: var(--orange);
}

#footer ul  {
    margin-bottom: 2rem;
 }

#footer ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    /* display: inline; */
 }

 #footer ul li  {
    display: inline;
    padding: 2rem 1rem;
 }

 #footer p  {
  margin-bottom: 2rem; 
 }

 #footer .footer-social {
     color: #333;
 }

 #footer .footer-social i {
 padding: 0 1rem;
}


/* Laptop */

@media only screen and (max-width: 1215px) {
 
    
}

/* Tablet */
@media only screen and (max-width: 1023px) {
   
   
}



/* Mobile */
@media only screen and (max-width: 767px) {
    #footer h2 {
        font-size: 2rem;
    }

    #footer ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #footer ul li {
        display: inline-block;
        /* padding: 1rem; */
        padding: 1.5rem .5rem;
        flex-basis: 50%;
        
    }
   
}