header {
    padding: 30px 20px;
    font-size: 15px;
    font-weight: 600;
}

header::after{
    content: "";
    display: table;
    clear: both;
}

header a {
    color: #4945BF;
    text-decoration: none;
    padding: 0 15px;
}

header .logo {
    display: inline-block;
    float: left;
    margin-right: 28px;
}

header .logo img {
    width: 50px;
}
header .menu {
    display: inline-block;
    float: left;
    position: relative;
    top: 23px;
}

header .menu a {
    text-transform: uppercase;
}
header .header-buttons {
    display: inline-block;
    float: right;
    position: relative;
    top: 23px;
}

header .header-buttons .btn-blue {
    background: #4945BF;
    padding: 14px 46px;
    color: #fff;
    border-radius: 35px;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 17px 40px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 17px 40px 0px rgba(0,0,0,0.3);
box-shadow: 0px 17px 40px 0px rgba(0,0,0,0.3);
}

header .header-buttons .btn-orange {
    background: #FEA83B;
    padding: 14px 46px;
    color: #fff;
    border-radius: 35px;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 17px 40px 0px rgba(0,0,0,0.3);
-moz-box-shadow: 0px 17px 40px 0px rgba(0,0,0,0.3);
box-shadow: 0px 17px 40px 0px rgba(0,0,0,0.3);
}

header .header-buttons .btn-blue i.fas.fa-shopping-bag {
    margin-left: 20px;
}