header {
    padding: 30px 20px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 50px;
}

header::after{
    content: "";
    display: table;
    clear: both;
}

header a {
    color: #4945BF;
    text-decoration: none;
    padding: 0 15px;
}

header .logo {
    display: inline-block;
    float: left;
    margin-right: 28px;
}

header .logo img {
    width: 50px;
}
header .menu {
    display: inline-block;
    float: left;
    position: relative;
    top: 23px;
}

header .menu a {
    text-transform: uppercase;
}
header .header-buttons {
    display: inline-block;
    float: right;
    position: relative;
    top: 23px;
}

header .header-buttons .btn-blue {
    background: #4945BF;
    padding: 14px 46px;
    color: #fff;
    border-radius: 35px;
    text-transform: uppercase;
}

header .header-buttons .btn-orange {
    background: #FEA83B;
    padding: 14px 46px;
    color: #fff;
    border-radius: 35px;
    text-transform: uppercase;
}

header .header-buttons .btn-blue i.fas.fa-shopping-bag {
    margin-left: 20px;
}


/* Laptop */

@media only screen and (max-width: 1215px) {
 
    
}

/* Tablet */
@media only screen and (max-width: 1023px) {
   
   
}



/* Mobile */
@media only screen and (max-width: 767px) {
   
   
}