header {
    padding: 30px 20px;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 50px;
}

header .container-fluid::after{
    content: "";
    display: table;
    clear: both;
}

header a {
    color: #4945BF;
    text-decoration: none;
    padding: 0 15px;
}

header .logo {
    display: inline-block;
    float: left;
    margin-right: 28px;
}

header .logo img {
    width: 50px;
}
header .menu {
    display: inline-block;
    float: left;
    position: relative;
    top: 23px;
}

header .menu a {
    text-transform: uppercase;
}
header .header-buttons {
    display: inline-block;
    float: right;
    position: relative;
    top: 23px;
}

header .header-buttons .btn-blue {
    background: #4945BF;
    padding: 14px 46px;
    color: #fff;
    border-radius: 35px;
    text-transform: uppercase;
}

header .header-buttons .btn-orange {
    background: #FEA83B;
    padding: 14px 46px;
    color: #fff;
    border-radius: 35px;
    text-transform: uppercase;
}

header .header-buttons .btn-blue i.fas.fa-shopping-bag {
    margin-left: 20px;
}


/* Laptop */

@media only screen and (max-width: 1215px) {
 
    
}

/* Tablet */
@media only screen and (max-width: 1023px) {
   
   
 
     header .header-buttons  {
        clear: both;
      }
 
      header .header-buttons a:first-child {
         
      }
   
}



/* Mobile */
@media only screen and (max-width: 767px) {
   
    header {
        padding-top: 20px;
        font-size: 12px;
        margin-bottom: 30px;
    }

    header .logo {
        width: 100%;
        text-align: center;
        margin-right: 0;
    }

    header .menu {
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    header .menu a {
        width: 45%;
        display: inline-block;
        padding: 10px;
    }

    header .header-buttons {
       width: 100%;
       text-align: center;
       margin-top: 30px;
    }


    header .header-buttons a {
        display: block;
        margin-bottom: 10px;
        width: 80%;
        margin: 0 auto;
     }

     header .header-buttons a:first-child {
        margin-bottom: 10px;
        
     }
}