#top-jumbo {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffffff 0%, #ffffff 15%, #9592ef 37%, #5a57ed 65%, #f47ae4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffffff 0%,#ffffff 15%,#9592ef 37%,#5a57ed 65%,#f47ae4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffffff 0%,#ffffff 15%,#9592ef 37%,#5a57ed 65%,#f47ae4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 0 0 400px;
}

#top-jumbo::after{
    content: "";
    display: table;
    clear: both;
}

/* LEFT SIDE OF JUMBO AREA */
#top-jumbo .left-jumbo {
    width: 40%;
    display: inline-block;
    float: left;
}

#top-jumbo .left-jumbo .large-number {
    font-size: 14rem;
    font-weight: 700;
    opacity: .2;
    color: #4945BF;
    position: relative;
    left: -15px;
    top: 25px;
    z-index: 1;
}

#top-jumbo .left-jumbo  .info-container {
    position: relative;
    top: -50px;
}

#top-jumbo .left-jumbo  .info-container h1 {
    color: #4945BF;
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 1.1;
}

#top-jumbo .left-jumbo  .info-container p {
    color: #333;
    line-height: 1.6;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 2.5rem;
}

#top-jumbo .left-jumbo  .info-container .email-input {
    background: #fff;
    border-radius: 50px;
    padding: 10px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#top-jumbo .left-jumbo  .info-container .email-input i{
    font-size: 2rem;
    padding-right: 15px;
    color: #d7d7d7;
}
#top-jumbo .left-jumbo  .info-container .email-input input {
    border: none;
    font-size: 1rem;
    flex: 2;
    color: #d7d7d7;
}


#top-jumbo .left-jumbo  .info-container .email-input button{
    background: #4945BF; 
    color: #fff;
    text-transform: uppercase;
    padding: 20px 50px;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
}

/* RIGHT SIDE OF JUMBO AREA */
#top-jumbo .right-jumbo {
    width: 60%;
    display: inline-block;
    float: left;
}

#top-jumbo .right-jumbo img {
    width: 100%
}



